h1{
    color: greenyellow;
}

p{
    color: darkgreen;
    font-size: 40px;
    font-style: Arial;
}
li{
    color: ;
}

.veggie{
    color: #ac2925;
}

#howru{
    color: #e4b9c0;
    font-size: 6px;
}